head{
  text-align: center;
}

body{
  text-align: center;
  background-color: #fff8cd;
  font-family: Georgia, serif;
}

img{
  border-radius: 50%;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 5%;
}

table{
  position-relative: center;
}

.title_hobbies {
    font-size: 60px;
    color: #bb3b0e;
}

.center{
  margin-left: auto;
  margin-right: auto;
}
