
<!-- Home page -->
<!-- Set the profile picture and description and contacts -->
<section class="colored-section" id="home-page">

	<div class="row">

		<!-- Image profile -->
		<div class="col-lg-6">
			<img class="title-image" src="/images/elia.png">
		</div>

		<!-- Title description -->
		<div class="col-lg-6">
			<h1 class="big-heading">Hello There</h1>
		</div>


	</div>

</section>
