
<!-- Home page -->
<!-- Set the profile picture and description and contacts -->
<section class="colored-section" id="home-page">

	<div class="row">

		<!-- Image profile -->
		<div class="col-lg-6">
			<img class="title-image" src="/images/elia.png">
		</div>

		<!-- Title description -->
		<div class="col-lg-6">
			<h1 class="big-heading">
				I'm Elia Trufelli.
			</h1>
			<h1 class="big-heading">
				Software developer <br>and music lover
			</h1>

			<!-- Social link -->
			<div class="col-lg-6">
				<a href="https://www.facebook.com/elia.trufelli" class="social-icon fa fa-facebook"></a>
				<a href="https://www.linkedin.com/in/elia-trufelli-13333a149/" class="social-icon fa fa-linkedin"></a>
				<a href="https://github.com/EliaT95" class="social-icon fa fa-github"></a>
			</div>
		</div>


	</div>

</section>
