<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Hobbies</title>
    <link rel="stylesheet" href="css/style_hobbies.css">
  </head>
  <body>
    <h3 class="title_hobbies">My Hobbies</h3>
    <table class="center" cellpadding="50px">
      <tr>
        <td>
          <img src="images/sport.jpg" alt="sport" width="130">
        </td>
        <td>
          <h3>&emsp;Sports performed</h3>
          <p>&emsp;Football, Tennis...</p>
        </td>
      </tr>
      <tr>
        <td><img src="images/music.jpg" alt="music" width="130"></td>
        <td>
          <h3>&emsp;Music</h3>
          <p>&emsp;Rock, Reggae, Blues</p>
        </td>
      </tr>
      <tr>
        <td><img src="images/moto.jpg" alt="moto" width="130"></td>
        <td>
          <h3>&emsp;Motorcycle</h3>
          <p>&emsp;...</p>
        </td>
      </tr>
      <tr>
        <td><img src="images/film.jpg" alt="film" width="130"></td>
        <td>
          <h3>&emsp;Movies and TV Series</h3>
          <p>&emsp;...</p>
        </td>
      </tr>
    </table>
  </body>
</html>
