
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Home | Elia Trufelli</title>
  <meta charset="utf-8">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Ubuntu font -->
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

  <!-- CSS File -->
  <link rel="stylesheet" href="/css/styles.css">
  <%- include("partials/header"); -%>
</head>

<body>
  <%- include("partials/home"); -%>
  <%- include("partials/footer"); -%>
</body>

</html>
