
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Home | Elia Trufelli</title>
  <meta charset="utf-8">
  <%- include("partials/links"); -%>
  <%- include("partials/header"); -%>
</head>

<body>
  <%- include("partials/home"); -%>
  <%- include("partials/footer"); -%>
</body>

</html>
