
<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include("partials/header"); -%>

<body>
  <div class="container">
    <%- include("partials/home"); -%>

  </div>
  <%- include("partials/contact_me"); -%>
  <%- include("partials/footer"); -%>
</body>

</html>
