
<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include("partials/header"); -%>

<body>
  <%- include("partials/home"); -%>  
  <%- include("partials/contact_me"); -%>
  <%- include("partials/footer"); -%>
</body>

</html>
