<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Professional Skill</title>
    <link rel="stylesheet" href="css/style_skills.css">
  </head>
  <body>
    <h2>Professional Skills</h2>
    <ul>
      <li>Knowledge and development of programs through the following programming languages:
         C, C#, C++, Java, Python, Assembly, PHP, MatLab,
        JavaScript,Haskell, Prolog, NuSMV, SQL (MySQL, OracleSQL, SQL Server),
        QGIS, HTML, CSS.</li>
      <li>Database design, development and management.</li>
      <li>Analysis and processing of signals and images: use and design of digital
        filters. Compression techniques for audio, image and video signals.</li>
      <li>Structure and functionality of modern Linux and Windows operating systems.
        Algorithms for managing resources and metrics to evaluate their performance.</li>
      <li>Creation and management of processes and threads, scheduler tuning and
         programming API in Linux environment.</li>
      <li>"In the small" software development: verification of correctness
        through axiomatic, operational and denotational disemantic techniques.</li>
      <li>LaTex for Professional Pubblication</li>
      <li>UML modeling language</li>
      <li>MQTT protocol.</li>
      <li>Knowledge and development of digital device networks.</li>
      <li>Formal techniques of modeling and verification of software systems. </li>
      <li>Version control system: Git</li>
      <li>Basic knowledge in physics: mechanics, thermodynamics and electromagnetism.</li>
      <li>Ethical Hacking and IT security techniques: penetration test and final report drafting</li>
      <li>Microsoft Office: Word, Excel, Power Point, One Note, Outlook, Access,
        Equationeditor, Publisher.</li>
    </ul>
  </body>
</html>
