
body{
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;
}

/* NAVBAR */

.navbar {
  padding: 0 0 4.5rem;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}


/* Sections */

.colored-section{
  color: #fff;
  background-color: #40a8c4;
  text-align: center;
}

.uncolored-section{
  color: black;
  background-color: white;
  text-align: center;
}


/* FOOTER */

.footer-padding {
	padding-bott
  om: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #51adcf;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

/* Home Page */

#home-page{
  text-align: right;
}
#home-page .container-fluid {
  padding: 3% 15% 7%;
}

.title-image {
  width: 65%;
  position: absolute;
  right: 30%;
}

.title{
  padding-left: 2px;
  padding-right: 5px;
}
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: 'Ubuntu', sans-serif;
}

/* Social icon style */
.fa {
  padding: 20px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  color: black;
}

/* Add a hover effect */
.fa:hover {
  opacity: 0.7;
}

.social-icon {
  margin: 20px 10px;
}
