.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    font-family: 'Ubuntu', sans-serif;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.contact{
  background-color: #40a8c4;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
}

.colored-section{
  color: #fff;
  background-color: #40a8c4;
  text-align: center;
}

.uncolored-section{
  color: black;
  background-color: white;
  text-align: center;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #51adcf;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

/* Title section */

.title-image {
  width: 50%;
  position: static;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.title{
  padding-left: 2px;
  padding-right: 5px;
}
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: 'Ubuntu', sans-serif;
}

/* Social icon style */
.fa {
  padding: 20px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  color: black;
}

.fa-github{
color: black;
}

.fa-linkedin {
  color: black;
}

.social-icon {
  margin: 20px 10px;
}
